/* You can add global styles to this file, and also import other style files */


body {
    background-image:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('src/assets/images/bgimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
  }